body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#b41d1d;
    font-family:Arial;
}

.formulario{
    background:rgb(87, 77, 77);
    padding:20px;
    border-radius:10px;
}

input{
    width:200px;
    padding:8px;
    margin:8px 0;
}

button{
    width:100%;
    padding:10px;
    border:none;
    background:blue;
    color:white;
    border-radius:8px;
}

button:hover{
    background:darkblue;
    cursor:pointer;
}